{{page-title "Sobre"}}
<div class="container-fluid">
    <div class="card text-center">
        <div class="card-header">
            Sobre a gente e dados do projeto
        </div>
        <div card="panel-body">
            <div class="row">
                <div class="col-xs-12">
                    <div class="list-group">
                        <div class="list-group-item">Pessoas ajudando outras pessoas com uso de tecnologia</div>
                        <Link @description="Repositório - GPS Generator" @url="https://github.com/quase-dev"
                            @version="0.0.1" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
