<footer class="py-3 my-4 border-top">
    <div class="row">
        <div class="col-1">
        </div>
        <div class="col-5">
            <span class="mb-3 mb-md-0 text-muted">© 2023 quase.dev</span>
        </div>
        <div class="col-5 text-end">
            <ul class="nav justify-content-end list-unstyled d-flex">
                <li class="ms-3"><span class="mb-3 mb-md-0 text-muted"></span><a class="text-muted"
                        href="https://github.com/quase-dev" target="_blank" rel="noopener noreferrer"><i class="bi bi-github"></i></a></li>
                <li class="ms-3"><span class="mb-3 mb-md-0 text-muted"></span><a class="text-muted"
                        href="https://www.linkedin.com/company/quasedev" target="_blank" rel="noopener noreferrer"><i class="bi bi-linkedin"></i>
                    </a></li>
            </ul>
        </div>
        <div class="col-1">
        </div>
    </div>
</footer>
