{{page-title "Roadmap Guia GPS"}}
<div class="container-fluid">
    <div class="card text-center">
        <div class="card-header">
            Guia GPS - Próximos passos
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <div>
                        <ul class="timeline">
                            <li class="timeline">
                                <div class="timeline-badge primary"><i class="bi bi-power"></i>
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4 class="timeline-title">Dez/2022</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p>Instabilidade na plataforma do governo, nos faz buscar como é gerado
                                            o boleto</p>
                                        <p>Início do desenvolvimento</p>
                                    </div>
                                </div>
                            </li>
                            <li class="timeline-inverted">
                                <div class="timeline-badge success"><i class="bi bi-calendar-check"></i>
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4 class="timeline-title">Jan/2023</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p>Lançamento da geração da linha digitável para o código de pagamento
                                            1406</p>
                                        <p>Valor de contribuição é inserido manualmente</p>
                                    </div>
                                </div>
                            </li>
                            <li class="timeline">
                                <div class="timeline-badge info"><i class="bi bi-pencil-square"></i></div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4 class="timeline-title">Fev/2023</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p>Seleção de contribuição com base em quantidade de salários mínimos
                                        </p>
                                        <p>Cálculo automático para o código de pagamento 1406 (20%)</p>
                                    </div>
                                </div>
                            </li>
                            <li class="timeline-inverted">
                                <div class="timeline-badge warning"><i class="bi bi-clock"></i></div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4 class="timeline-title">Mar/2023</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p>Inserção de novas categorias de código de pagamento</p>
                                        <p>Cálculo automático da contribuição para essas categorias</p>
                                    </div>
                                </div>
                            </li>
                            <li class="timeline-item">
                                <div class="timeline-badge default"><i class="bi bi-infinity"></i></div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4 class="timeline-title">Erros ou sugestões?</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p>Escreva para <a href="mailto:davi@quase.dev">davi@quase.dev</a></p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
