{{page-title "quase.dev"}}
<div class="container px-4 py-2">
  <h2 class="pb-2 border-bottom">quase.dev</h2>
  <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5">
    <div class="col d-flex flex-column align-items-start gap-2">
      <h3 class="fw-bold">Olá!</h3>
      <p class="text-muted">
        Esta página foi pensada para te ajudar em questões do dia-a-dia, por enquanto, temos o cálculo e geração da
        linha digitável da guia GPS para autônomos.
      </p>
      <LinkTo @route="about">
        <button class="btn btn-primary btn-lg" type="button">Sobre o projeto »</button>
      </LinkTo>
    </div>

    <div class="col">
      <div class="row row-cols-1 row-cols-sm-2 g-4">
        <LinkTo @route="gps-generate" class="text-decoration-none text-dark">
          <div class="col bg-light p-4 rounded d-flex flex-column gap-2">
            <div
              class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
              <i class="fs-1 bi bi-upc-scan"></i>
            </div>
            <h4 class="fw-semibold mb-0">Cálculo GPS (INSS)</h4>
            <p class="text-muted">Geração da linha digitável para pagamento</p>
          </div>
        </LinkTo>
        <LinkTo @route="gps-roadmap" class="text-decoration-none text-dark">
          <div class="col bg-light p-4 rounded d-flex flex-column gap-2">
            <div
              class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
              <i class="fs-1 bi bi-clock-history"></i>
            </div>
            <h4 class="fw-semibold mb-0">Roadmap GPS</h4>
            <p class="text-muted">Detalhamento dos próximos passos</p>
          </div>
        </LinkTo>
      </div>
    </div>
  </div>
</div>
